$blue: #4286f4;
$green: #42f445;
$yellow: #fcfc28;
$pink: #f4427a;
$purple: #cb51f7;
$orange: #ff9d1e;
$lightgreen: #42f445;
$grey: #ece8e8;


$hidden-note: #000000;

$header-font: 'Bungee Shade', cursive;
$main-font: 'Gaegu', cursive;

$use-tada: true;

