@import "_variables";
@import "_mixins";
@import "animate-sass/animate";

.deck {
    height: 300px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    perspective: 800px;
}

    
.color-1{
    background-color: $blue;
}
    
.color-2{
    background-color: $green;   
}
.color-3{
    background-color: $yellow;
}
.color-4{
    background-color: $pink;
}
    
.color-5{
    background-color: $purple ;
}
.color-6{
    background-color: $orange; 
}

.plainFront {
   background-image: url("../assets/images/grey-trumpet.png"); 
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.disabled {
    color: red;
}

.card{
    height: 30%;
    width: 22%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

figure {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    @include border-radius(20px)
}

.faceDown {
    background-color: black;
}
.spinBack {
   transform: rotateY(180deg);
}

.flipped {
    transform: rotateY(180deg);
}

.disabled {
    pointer-events: none;
}